*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}
.header{
   
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Assets/netflix.jpg);
    height: 170vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
   position: relative;
   
}

    nav{
        display: flex;
    align-items:center;
       
        justify-content: space-between;
        padding: 10px 0px;

}

.netflix-logo{
    height: 45px;
        width: 20%;
    cursor: pointer;
}

nav button{
    background-color: rgb(224, 19, 19);
    color: #fff;
    border: 0;
     outline: 0;
     padding: 7px 20px;
     font-size: 12px;
     border-radius: 4px;
     margin-left: 10px;
   
}
.English-btn{
background: transparent;
border: 1px solid #fff;

}
.header-content{
   position: absolute;
padding: 200px 220px;
text-align: center;

}
.header-content h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    max-width: 650px;
}
.header-content h3{
font-weight: 400;
margin-bottom: 20px;
}
.signup,.again{
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
   


}
.signup input,.again input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    
}

.signup button,.again button{
    background: rgb(199, 4, 4);
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

.slider{
    width: 100vh;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.slider .row{
    display: flex;
    width: calc(100px * 28);
    animation: slide 20s linear infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    0%{
        transform: translateX(calc 100px);
    }
}
 img:hover{
    transform:translateZ(12px);
    transition:2s;
 }
 .slider .column{
    perspective: 100px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
 }
.another2,.another3,.another1,.another4{
    background-color: aqua;
    text-align: center;
    align-items: center;
}
text:hover{
    transform:translateZ(12px);
    transition:4s;
}
details{
    background-color: #333;
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
}
.trending,.plans,.join,.faq{
background-color: #222;
margin: 22px;
padding: 20px;
border-radius: 10px;
}

.trending-list{
    
    display: flex;
    justify-content: center;
    gap: 10px;
}
h3{ 
    
    margin-bottom: 10px;
}


li{
    margin: 10px 0;
}

ul{
    list-style: none;
    padding: 0;
}
.again{
    margin-left: 310px;
    margin-right: 310px;
}
.again1{
    text-align: center;
}

.footer{
    padding: 40px 60px;
    max-width: 1000px;
    margin: auto;
}
.footer a{
    color: #999;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover{
    text-decoration: underline;
}
.footer p{
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-links ul{
    list-style: none;
    padding: 0;
    width: 200px;
    margin-bottom: 20px;
}
.footer-links li{
    margin-bottom: 10px;
}
.language select{
background-color: #000;
padding: 8px;
color: #fff;
border: 1px solid #333;
margin-bottom: 20px;
}
.region{
    font-size: 14px;
}
.join{
    background-color: #000;
    color: #fff;
    padding: 40px 60px;

}

.join ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.join li{
    background-color: #111;
    width: calc(25% - 20px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(255, 255,255, 0.05);
    transition: transform 0.3s ease;
}
.join li:hover{
    transform: scale(1.05);
}
.join p{
    margin: 10px 0 0;
    font-size: 14px;
    color: #aaa;
}
.join i{
    display: block;
    margin-top: 15px;
    font-size: 24px;
    color: orangered;
}
@media (max-width:768px){
    .join li{
        width: 100;
        
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    background-color: #141414;
    border-radius: 12px;
    padding: 20px;
    width: calc(25% - 20px);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;position: relative;
}

.card:hover {
    transform: translateY(-11px);
}

.card h3{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    color: #aaa;
    font-size: 14px;
}

.card i {
    color: purple;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}